@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.Part1 {
  width: 375px;
  height: 718px;
  flex-shrink: 0;
}

.Part1-1 {
  background-image: url('header-shapes mobile.png');
  background-repeat: no-repeat;
  background-position: 0 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 375px;
  height: 662px;
}

.header {
  display: flex;
  width: 375px;
  height: 48px;
  padding: 4px 24px 4px 12px;
  align-items: flex-start;
  gap: 199px;
  flex-shrink: 0;
}

.logoHolder {
  display: flex;
  padding: 10px 12px;
  align-items: center;
}

.mylogo {
  color: var(--primary-b-400, #6070ff);
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}

.iconHolder {
  display: flex;
  padding: 10px 12px;
  align-items: flex-start;
  border-radius: 8px;
}

.iconimg {
  width: 24px;
  height: 24px;
}

.headWebpart {
  display: none;
}

.webbox1-2 {
  display: none;
}

.headline {
  display: inline-flex;
  padding: 100px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  font-family: 'Poppins', sans-serif;
}

.text1 {
  display: flex;
  width: 327px;
  height: 112px;
  flex-direction: column;
  justify-content: center;
  color: var(--neutrals-n-800, #172b4d);
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 52px;
}

.text2 {
  width: 327px;
  height: 24px;
  color: var(--neutrals-n-600, #344563);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.contact {
  display: inline-flex;
  padding: 0 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  font-family: 'Poppins', sans-serif;
}

.text3 {
  color: var(--primary-b-300, #7f8cff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.socialMedia {
  width: 170.167px;
  height: 20px;
  transform: translate(0, -20px);
}

.container {
  width: 328px;
  display: grid;
  padding: 114px 24px;
  flex-direction: column;
  align-items: center;
  gap: 88px;
  background-color: #f8f6f6;
}

.card1-0 {
  display: none;
}

.card1 {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 16px;
  flex-direction: column;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  background: var(--neutrals-n-0, #fff);
  margin: 0;
  width: 295px;
}

.img1 {
  width: 295px;
  height: 220px;
}

.box1-1 {
  width: 295px;
  color: var(--neutrals-n-800, #172b4d);
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
  align-items: center;
}

.webbox1-1 {
  display: none;
}

.webuse {
  list-style-type: none;
  padding: 0 0;
  gap: 24px;
}

.box1-2 {
  margin: 0;
  display: flex;
  gap: 12px;
  align-items: center;
  margin-right: 56px;
}

.box1-3 {
  width: 295px;
  height: 70px;
  color: var(--neutrals-n-600, #344563);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  transform: translate(0, -16px);
  gap: 12px;
  margin: 0;
}

.webbox1-3 {
  display: none;
}

.box1-4 {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-right: 74px;
}

.webskills1-4 {
  display: none;
}

.skills1-4 {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-right: 74px;
  list-style-type: none;
  padding: 0;
}

.skills1-4 li {
  gap: 12px;
  display: inline;
}

.html {
  display: flex;
  display: inline;
  padding: 4px 12px;
  align-items: center;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
  color: var(--primary-b-400, #6070ff);
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
}

.css {
  display: flex;
  padding: 4px 12px;
  align-items: center;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
  color: var(--primary-b-400, #6070ff);
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
}

.java {
  display: flex;
  padding: 4px 12px;
  align-items: center;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
  color: var(--primary-b-400, #6070ff);
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
}

.webtools {
  display: none;
}

.box1-5 {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.card2 {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 16px;
  flex-direction: column;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  background: var(--neutrals-n-0, #fff);
  width: 295px;
  padding-top: 0;
  transform: translate(0, -20px);
}

.card2-0 {
  display: none;
}

.webbox2-3 {
  display: none;
}

.box2-1 {
  align-items: start;
  margin-top: 0;
  margin-bottom: 12px;
  width: 290px;
  height: 80px;
  color: var(--neutrals-n-800, #172b4d);
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}

.webcur {
  display: none;
}

.card3 {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 16px;
  flex-direction: column;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  background: var(--neutrals-n-0, #fff);
  margin: 0;
  padding-top: 0;
  width: 295px;
}

.card4 {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 16px;
  flex-direction: column;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  background: var(--neutrals-n-0, #fff);
  margin: 0;
  width: 295px;
}

.container2 {
  display: flex;
  flex-direction: column;
  padding: 114px 24px;
  align-items: center;
  gap: 24px;
  width: 328px;
  height: 934px;
}

.top {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin: 0;
}

.row1 {
  display: flex;
  width: 327px;
  height: 35px;
  flex-direction: column;
  justify-content: center;
  color: var(--neutrals-n-800, #172b4d);
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.row2 {
  width: 327px;
  height: 147px;
  color: var(--neutrals-n-600, #344563);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.socialmedia {
  list-style-type: none;
  margin-top: 0;
  padding-top: 0;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.lets {
  list-style-type: none;
  padding-inline-start: 0;
  color: var(--primary-b-300, #7f8cff);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.logos {
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
}

.socialImg {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 8px;
  width: 18px;
  height: 20px;
  flex-shrink: 0;
}

.socialImg1 {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 8px;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.socialImg2 {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.socialImg3 {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 8px;
  width: 20px;
  height: 19.967px;
  flex-shrink: 0;
}

.socialImg4 {
  display: flex;
  padding: 6px;
  align-items: flex-start;
  border-radius: 8px;
  width: 24px;
  height: 24px;
}

.resume {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
  color: var(--primary-b-500, #396df2);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
}

.languages {
  list-style-type: none;
  margin: 0;
  display: flex;
  padding: 16px 26px 16px 12px;
  align-items: center;
  gap: 12px;
  width: 327px;
}

.text {
  width: 237px;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.symbol {
  display: flex;
  padding: 8px;
  border-radius: 8px;
  width: 24px;
  height: 24px;
  align-items: center;
}

.list {
  margin: 0;
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.java2 {
  display: flex;
  width: 303px;
  margin-left: 0;
  padding: 9px 12px 9.716px 12px;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: var(--neutrals-n-10, #f7f7f9);
}

.javaimg {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid var(--neutrals-n-0, #fff);
}

.javatext {
  display: flex;
  width: 215px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--neutrals-n-700, #253858);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.html2 {
  display: flex;
  width: 303px;
  padding: 9px 12px 9.716px 12px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: var(--neutrals-n-10, #f7f7f9);
}

.htmlimg {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid var(--neutrals-n-0, #fff);
}

.htmltext {
  display: flex;
  width: 215px;
  height: 24px;
  margin-right: 22px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--neutrals-n-700, #253858);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.css2 {
  display: flex;
  width: 303px;
  padding: 9px 12px 9.716px 12px;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: var(--neutrals-n-10, #f7f7f9);
}

.cssimg {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid var(--neutrals-n-0, #fff);
}

.csstext {
  display: flex;
  width: 215px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--neutrals-n-700, #253858);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.lastbox {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.frame {
  align-items: center;
  display: flex;
  width: 327px;
  height: 72px;
  list-style-type: none;
  margin: 0;
  padding-inline-start: 12px;
}

.frame li {
  display: inline;
  padding-inline-start: 0;
}

.txt1 {
  width: 237px;
  height: 24px;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  padding-inline-start: 0;
  font-weight: 500;
  line-height: 24px;
  align-items: center;
  border-radius: 8px;
  padding: 8px;
}

.fimg {
  display: inline-flex;
  padding: 8px;
  align-items: flex-start;
  justify-content: center;
  border-radius: 8px;
  width: 24px;
  height: 24px;
}

.seperator {
  list-style-type: none;
  width: 327px;
  height: 1px;
  flex-shrink: 0;
  background: var(--neutrals-n-40, #dfe1e6);
}

.skill {
  align-items: center;
  display: flex;
  width: 327px;
  height: 72px;
  list-style-type: none;
  margin: 0;
  padding-inline-start: 12px;
}

.skill li {
  display: inline;
  padding-inline-start: 0;
}

.fcontactme {
  width: 375px;
  height: 779px;
  flex-shrink: 0;
  background-image: url('social media/Contact me (1).png');
}

.ftext {
  list-style-type: none;
}

.fshapes {
  margin-left: 110px;
}

.fbg {
  fill: var(--primary-b-400, #6070ff);
  width: 375px;
  height: 779px;
}

.fheading {
  display: flex;
  width: 801px;
  height: 56px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--neutrals-n-0, #fff);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  transform: translate(-250px, -650px);
}

.fparagraph {
  width: 327px;
  flex-shrink: 0;
  color: var(--primary-b-50, #ebebff);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  transform: translate(-20px, -640px);
}

.fboxes {
  list-style-type: none;
}

.fwebimg {
  display: none;
}

.fbox1 {
  width: 327px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--base-100, #cfd8dc);
  transform: translate(-16px, -488px);
  text-indent: 10px;
  font-family: 'Poppins', sans-serif;
  background: var(--mono-white, #fff);
}

.fbox2 {
  height: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--base-100, #cfd8dc);
  transform: translate(-16px, -468px);
  text-indent: 10px;
  width: 327px;
  font-family: 'Poppins', sans-serif;
  background: var(--mono-white, #fff);
}

.fbox3 {
  width: 327px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--base-100, #cfd8dc);
  background: var(--mono-white, #fff);
  transform: translate(-16px, -450px);
  text-indent: 10px;
  font-family: 'Poppins', sans-serif;
  height: 170px;
}

.fbox4 {
  margin-top: 10px;
  background-color: white;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #396df2;
  cursor: pointer;
  transform: translate(-16px, -445px);
  padding: 12px;
}

.fline {
  display: flex;
  list-style-type: none;
  height: 34px;
  padding: 21px 121px 8px 120px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transform: translate(-180px, -420px);
  width: 375px;
}

@media screen and (min-width: 768px) {
  .Part1 {
    width: 1440px;
    height: 846px;
  }

  .header {
    display: inline-flex;
    width: 1154px;
    padding: 16px 143px;
    justify-content: center;
    align-items: flex-start;
    gap: 796px;
    margin-left: 0;
  }

  .iconHolder {
    display: none;
  }

  .headWebpart {
    align-items: center;
    gap: 8px;
    padding: 10px 12px;
    display: flex;
  }

  .Part1-1 {
    background-image: url('social media/Header bg@2x.png');
    background-size: 1397px 721px;
    width: 920px;
    height: 268px;
    padding: 289px 260px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    display: inline-flex;
  }

  .text1 {
    display: flex;
    height: 122px;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 920px;
  }

  .text2 {
    width: 920px;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    height: 98px;
  }

  .contact {
    padding: 0 0;
    transform: translate(-375px, -110px);
  }

  .container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 142px;
    width: 1440px;
    height: 2694;
    padding: 142px;
  }

  .wsCard {
    display: flex;
    width: 1156px;
    flex-shrink: 0;
    border: 1px solid var(--neutrals-n-40, #dfe1e6);
    background: var(--neutrals-n-0, #fff);
    height: 496px;
  }

  .card1-0 {
    display: flex;
    list-style-type: none;
    padding: 24px 24px;
  }

  .img1 {
    display: none;
  }

  .card1 {
    align-items: flex-start;
    gap: 20px;
    width: 544px;
    height: 445px;
    border: none;
    padding: 24px;
  }

  .webbox1-1 {
    display: flex;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
  }

  .box1-1 {
    display: none;
  }

  .box1-2 {
    display: none;
  }

  .box1-3 {
    display: none;
  }

  .webbox1-2 {
    display: flex;
  }

  .webbox1-3 {
    display: flex;
    width: 496px;
    font-size: 16px;
    line-height: 24px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    transform: translate(0, -18px);
  }

  .webskills1-4 {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-right: 74px;
    list-style-type: none;
    padding: 0;
  }

  .webskills1-4 li {
    gap: 12px;
    display: inline;
  }

  .webhtml {
    display: flex;
    display: inline;
    padding: 4px 12px;
    align-items: center;
    border-radius: 8px;
    background: var(--primary-b-50, #ebebff);
    color: var(--primary-b-400, #6070ff);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.36px;
  }

  .webcss {
    display: flex;
    padding: 4px 12px;
    align-items: center;
    border-radius: 8px;
    background: var(--primary-b-50, #ebebff);
    color: var(--primary-b-400, #6070ff);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.36px;
  }

  .webjava {
    display: flex;
    padding: 4px 12px;
    align-items: center;
    border-radius: 8px;
    background: var(--primary-b-50, #ebebff);
    color: var(--primary-b-400, #6070ff);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.36px;
  }

  .card2 {
    align-items: flex-start;
    border: none;
    margin: 24px;
    padding: 24px;
    width: 544px;
    gap: 20px;
    padding-top: 0;
  }

  .skills1-4 {
    display: none;
  }

  .webtools {
    display: flex;
  }

  .card2-0 {
    display: flex;
    width: 544px;
    padding-right: 22px;
    padding-top: 24px;
    height: 448px;
  }

  .webbox2-3 {
    display: flex;
    width: 496px;
    height: 70px;
    color: var(--neutrals-n-600, #344563);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    transform: translate(0, -16px);
    gap: 12px;
    margin: 0;
  }

  .card3 {
    height: 455px;
    padding: 24px;
    align-items: flex-start;
    border: none;
    width: 544px;
    padding-top: 0;
  }

  .webcur {
    display: flex;
    transform: translate(400px, -55px);
  }

  .box2-1 {
    display: none;
  }

  .card4 {
    padding: 24px 24px;
    align-items: flex-start;
    width: 544px;
    height: 445px;
    border: none;
    padding-bottom: 0;
    padding-top: 0;
    margin-left: 24px;
  }

  .container2 {
    display: flex;
    flex-direction: row;
    width: 1440px;
    padding: 0;
    height: 924px;
  }

  .top {
    align-items: flex-start;
    padding-top: 166px;
    padding-bottom: 447px;
    padding-left: 143px;
    width: 447px;
  }

  .resume {
    margin-top: 30px;
  }

  .languages {
    display: flex;
    width: 684px;
  }

  .text {
    width: 582px;
  }

  .webskill {
    width: 684px;
    padding-top: 62px;
    padding-bottom: 372px;
    align-items: center;
  }

  .list {
    display: flex;
    flex-direction: row;
    padding: 12px;
    align-items: flex-start;
    gap: 12px;
  }

  .java2 {
    display: flex;
    padding: 12px 12px 20px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 122px;
  }

  .html2 {
    display: flex;
    padding: 12px 12px 20px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 122px;
  }

  .css2 {
    display: flex;
    padding: 12px 12px 20px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 122px;
  }

  .frame {
    width: 684px;
    height: 72px;
  }

  .txt1 {
    width: 582px;
    font-size: 20px;
    line-height: 24px;
    padding: 24px;
  }

  .skill {
    width: 684px;
    height: 72px;
  }

  .seperator {
    width: 684px;
    height: 1px;
  }

  .fcontactme {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 846px;
    background-image: url('social media/contact form- background-shape-desktop.png');
    background-size: 1440px 846px;
  }

  .fbg {
    width: 1440px;
    height: 846px;
  }

  .fshapes {
    display: none;
  }

  .fline {
    display: none;
  }

  .fwebimg {
    display: flex;
    padding-top: 95px;
    padding-left: 76px;
  }

  .ftext {
    display: flex;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-top: 42px;
    padding-left: 320px;
    width: 801px;
  }

  .fheading {
    height: 56px;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    line-height: 52px;
    padding-left: 260px;
    width: 801px;
  }

  .fparagraph {
    width: 569px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 145px;
    height: 102px;
  }

  .fboxes {
    flex-direction: column;
    padding-left: 510px;
    transform: translate(0, -40px);
    gap: 27px;
  }

  .fbox1 {
    display: block;
    width: 450px;
    flex-shrink: 0;
    height: 48px;
  }

  .fbox2 {
    display: block;
    width: 450px;
    flex-shrink: 0;
    height: 48px;
  }

  .fbox3 {
    display: block;
    width: 450px;
    flex-shrink: 0;
    height: 170px;
  }

  .fbox4 {
    display: block;
    width: 142px;
    height: 48px;
    margin-left: 155px;
  }
}
